	/*
		background-color:#DDD;
		margin:auto;
		width:1000px;
		color: #3F3D40;
		font-variant:small-caps;
		font-family: Courier New, monospace;
		text-align:center; // Centre l'objet

}
	*/
	
body
{
	background-color:#DDD;
	margin:auto;	
}


	/*titre principal*/
h1{
	font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue";
	padding-top: 50px;
	padding-bottom: 20px;
	text-align:center;
}

p{
	font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue";
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 25px;
	font-weight: normal;
}

	/*Cette partie est réservée au caroussel*/

span.carousel-control{
	color:             $white;
	width:             15%;
	opacity:           .5;
	hover-opacity:     .9;
	transition:        opacity .15s ease;
}

span.carousel-indicator {
	width:           30px;
	height:          3px;
	hit-area-height: 10px;
	spacer:          3px;
	opacity:         .5;
	active-bg:       $white;
	active-opacity:  1;
	transition:      opacity .6s ease;
}

span.carousel-caption{
	width:             70%;
	color:             $white;
	padding-y:         1.25rem;
	spacer:            1.25rem;
}

span.carousel-control-icon-width:        2rem;
span.carousel-control-prev-icon-bg:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$carousel-control-color}'><path d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/></svg>");
span.carousel-control-next-icon-bg:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$carousel-control-color}'><path d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/></svg>");
span.carousel-transition-duration:       .6s;
span.carousel-transition:                transform $carousel-transition-duration ease-in-out; // Define transform transition first if using multiple transitions (e.g., `transform 2s ease, opacity .5s ease-out`)